project:
  name: baseline_3d_unet_heart
  task: left_atrium_segmentation

paths:
  data_root: "C:\\Users\\hyeon\\Documents\\miniconda_medimg_env\\data\\heart_segmentation"
  output_root: "outputs\\runs"

data:
  dataset_json: "dataset.json"
  modality: "MRI"
  num_classes: 2
  labels:
    0: "background"
    1: "left atrium"

split:
  val_frac: 0.2
  seed: 42

preprocess:
  spacing: [1.25, 1.25, 1.25]
  intensity:
    method: "zscore_nonzero"   # MRI-safe

patch:
  patch_size: [96, 96, 96]
  pos_neg_ratio: [1, 1]        # [pos, neg] sampling

augment:
  flip_prob: 0.5
  rotate90_prob: 0.2

train:
  max_epochs: 200
  batch_size: 1
  num_workers: 4
  amp: true
  val_interval: 1

model:
  in_channels: 1
  out_channels: 2
  channels: [16, 32, 64, 128, 256]
  strides:  [2, 2, 2, 2]
  num_res_units: 2
  norm: "INSTANCE"

optim:
  lr: 0.0002
  weight_decay: 0.00001

infer:
  roi_size: [96, 96, 96]
  sw_batch_size: 2
  overlap: 0.5

report:
  num_examples: 6
